.Product-omniverse {
  /* border: rgb(124, 0, 128) solid 4px; */
  padding: 2rem 1.16%;
  margin-bottom: 40px;
  display: flex;

  position: relative;
  overflow-y: auto;
}

.Product__Info_customize {
  /* border: #ff7b00 solid 1px; */
  height: max-content;
  display: flex;
  width: 40%;
  padding-right: 5%;
}
.product-gallery-info-container::-webkit-scrollbar {
  display: none;
}
.product-gallery-info-container {
  display: flex;
  gap: 30px;
  overflow-y: auto;

  -webkit-tap-highlight-color: transparent;
  justify-content: center;
  margin: auto;
  height: calc(90svh - 130px + 2rem);
  max-height: max-content;
  /* border: #000000 solid 2px; */
}

/* product gallery */
.product-gallery-container {
  display: flex;
  justify-content: flex-end;
  border-radius: 25px;
  width: 50%;
  position: sticky;
  top: 0px;
  /* bottom: 0px; */
  gap: 10px;
  /* border: rgb(255, 0, 149) solid 3px; */
  overflow: hidden;
  height: 100%;
  max-height: calc(88svh - 130px);
  transition: top 0.3s ease;
}

#product-media-container-for-scroll {
  display: block;
  -ms-overflow-style: none;
  justify-content: center;
  cursor: pointer;
  position: relative;
  width: 83%;
  /* height: 100%; */
  border-radius: 25px;
  overflow-x: auto;
  overflow-y: visible;
  overscroll-behavior-y: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  max-width: calc(88svh - 130px);
  touch-action: pan-y;
  /* border: #ff0000 solid 2px; */
}
.product-media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  /* aspect-ratio: 1 / 1; */

  scroll-snap-align: center;
  /* border: #000000 solid 3px; */
  touch-action: pan-y;
  flex: 0 0 100%;
}
.product-media-container {
  display: flex;
  -ms-overflow-style: none;
  justify-content: start;
  /* border: 3px solid #000000; */
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  flex: 0 0 100%;
}
.product-media-wrapper .product-media {
  object-fit: cover;
  height: 100%;
  width: 100%;

  cursor:
    url(/assets/zoom-in.svg) 5 5,
    pointer;
  scroll-snap-align: center;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transition: transform 0.12s linear;
  display: block;
  transform: translate3d(0, 0, 0) scale(1);
  /* border: rgb(255, 0, 98) solid 3px; */
  aspect-ratio: 1 / 1;
  object-position: center center;
}
.side-product-media-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* max-width: 10%; */
  min-width: 0;
  position: relative;
  z-index: 10;
  gap: 10px;
  /* border: #000000 solid 1px; */
  /* margin-left: auto; */
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  -webkit-overflow-scrolling: touch;
  user-select: none;
  width: 14%;
}
.side-product-media-container::-webkit-scrollbar {
  display: none;
}
.side-product-media-container .product-media {
  transition: 0.2s ease;
  z-index: 10;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  border-radius: 20%;
  flex: 0 0 auto;
  overflow: hidden;
  border: 2px solid transparent;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
}

.side-product-media-container .product-media img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  /* aspect-ratio: 1 / 1; */
}

.side-product-media-container .product-media img:hover {
  transform: scale(1.06);
}
.side-product-media-container .product-media.active {
  border: #0069f0 solid 2px;
}
#sold-out-badge_wrapper {
  position: sticky;
  top: 20px;
  left: 20px;
  z-index: -1;
  opacity: 0;
}
.sold-out-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #0069f0;
  color: #fff;
  z-index: 10;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
  cursor: none;
}

#product-media-container-for-scroll::-webkit-scrollbar {
  display: none;
}

#after-select-color {
  font-weight: 800;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

/* DOTS ///////////////////////////*/
.dots-container {
  position: sticky;
  z-index: 10;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  /* border: #ffffff solid 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  /* top: 0; */
}

#all-dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: #000000 solid 1px; */
}

#all-dots .dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: #d3d3d3 solid 2px;
}
.arrow__container {
  /* border: #ff0000 solid 1px; */
  position: sticky;
  left: 0px;
  bottom: 10px;
}
.arrow__inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.gallery-left-arrow,
.gallery-right-arrow {
  margin-right: 5px;
  border-radius: 50%;
  border: 2.5px rgb(39, 38, 38) solid;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  font-weight: 900;
  font-size: 1.5rem;
  pointer-events: auto;
}

.dots-container .dot.active {
  background-color: #000000;
}

.product-media-container .product-media.zoomed {
  cursor:
    url("zoom-out.svg") 5 5,
    pointer;
  transform: translate3d(0, 0, 0) scale(1.6);
}

/* variant */
.variants-container {
  display: flex;
  width: 100%;
  gap: 15px;
  flex-wrap: wrap;
  /* border: #000000 solid 1px; */
}
#one-option-only {
  /* border: orange solid 1px; */
  width: 100%;
}

.variant-title {
  border-radius: 3px;
  padding: 10px 13px 10px 13px;
  cursor: pointer;
  background-color: #f4f0e9;
  border: 2px solid #f4f0e9;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.variant-title.active {
  border: 2px solid #0069f0;
}
.variant-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: #ff0000 solid 1px; */
}
.variant-image {
  border-radius: 10px;
  /* width: 70px; */
  /* height: 70px; */
  width: 0;
  height: 0;
  object-fit: cover;
  border: 2px solid #f4f0e9;
  /* border: 2px solid #00ff40; */

  cursor: pointer;
}

.variant-image--sold-out {
  opacity: 0.5;
  cursor: not-allowed;
}
.variant-image.active {
  border: 2px solid #0069f0;
}

.variant-title-image {
  font-size: 8px;
  border: 2px solid #f4f0e9;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.color-size-variant-container {
  display: flex;
  /* gap: 5px; */
  justify-content: start;
  /* border: #ff0000 solid 1px; */
  width: fit-content;
  flex-wrap: wrap;
}
.variant-image-container-color {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* border: #ff0000 solid 1px; */
  aspect-ratio: 1/1;
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.variant-size {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.variant-size div {
  border-radius: 3px;
  padding: 10px 13px 10px 13px;
  cursor: pointer;
  background-color: #f4f0e9;
  border: 2px solid #f4f0e9;
  margin-bottom: 10px;
  position: relative;
  width: max-content;
}

.title-size.not-available {
  color: #aaa;
  cursor: auto;
  background-color: #f9f7f4;
}
.title-size.not-available::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background: #aaa;
  transform: rotate(-45deg);
  clip-path: inset(15% round 8px);
  z-index: 2;
  top: 50%;
  left: 7%;
  /* transform: translateY(50%); */
}
/* 1 variant option only */

.variant-size .variant-image {
  height: fit-content;
  /* border: #000000 solid 1px; */
  width: max-content;
}
.variant-size div.active {
  border: 2px solid #0069f0;
}
#after-select-size {
  font-weight: 900;
  font-weight: 800;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* border: #000000 solid 1px; */
}

#option-value-color,
#option-value-size {
  font-weight: 500;
  margin-left: 5px;
  margin-right: auto;
  /* border: #ff0000 solid 1px; */
}

.after-select-color__one-option span {
  font-weight: 500;
  margin-left: 5px;
  margin-right: auto;
  /* border: #ff0000 solid 1px; */
}
.fit-guide-slot {
  /* border: #ff0000 solid 1px; */
  margin-right: 10px;
}

#product-title {
  font-size: 1.7rem;
}

#add-to-cart-button {
  background-color: #b70f0f;
  color: #ffffff;
  /* font-weight: 600; */
  padding: 15px;
  border: 1px solid #b70f0f;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  font-size: 1.3rem;
  margin-top: 20px;
}
#add-to-cart-button:disabled,
#add-to-cart-button[disabled] {
  background-color: gray;
  cursor: pointer;
  opacity: 0.6;
}

/* Mobile Float cart */
#mobile-floating-cart {
  display: none;
}

/* SKELETON */
.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 37%, #eee 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@media only screen and (max-width: 768px) {
  .Product-omniverse {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  .product-gallery-info-container {
    flex-direction: column;
    height: max-content;
    /* border: #ff0000 solid 2px; */
    max-height: none;
    margin-top: 20px;
  }
  .Product__Info_customize {
    width: 100%;
    /* border: #00ff40 solid 2px; */
    padding: 13px;
  }
  #product-media-container-for-scroll {
    width: 100%;
    margin-left: 0;
    /* aspect-ratio: 1 / 1; */
    position: relative;
    overflow: hidden;
    height: 100%;
    /* border: #000000 solid 1px; */
    margin-bottom: 0px;
    touch-action: pan-x;
    touch-action: pan-y;
    max-width: none;
  }
  .product-gallery-container {
    width: 100%;
    flex: 0 0 100%;
    flex-direction: column-reverse;
    height: 100%;
    /* border: #0069f0 solid 3px; */
    box-shadow: none;
    padding: 0px;
    max-height: none;
    position: relative;
  }
  .product-media-container .product-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: #ff0040 solid 1px; */
  }

  .side-product-media-container {
    display: none;
  }

  .product-media-wrapper {
    border-radius: 0px;
    aspect-ratio: 1/1;
  }
  .dots-container {
    bottom: 5px;
  }
  .arrow__container {
    display: none;
  }
  .dot {
    height: 10px;
    width: 10px;
  }
  .variant-image {
    /* border: #ff3700 solid 2px; */
    width: 50px;
    height: 50px;
  }

  .variant-image-container-color {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }

  .variant-size div {
    border-radius: 5px;
    padding: 12px 17px 12px 17px;
    margin-bottom: 0px;
    font-size: 0.9rem;
    width: 15%;
    height: 15%;
  }
  #add-to-cart-button {
    padding: 5px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
  }
  #mobile-floating-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 13%;
    left: 3%;
    right: 3%;
    /* border: #b70f0f solid 1px; */
    height: 20px;
    /* width: 90%; */
    z-index: 1000;
    padding: 20px 15px;
    background-color: rgba(128, 128, 128, 0.8);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    height: 70px;
    box-shadow: 0px -4px 10px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(300%);
    transition: 0.4s ease;
  }
  #mobile-floating-cart img {
    /* border: #000000 solid 1px; */
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
  }
  #mobile-floating-cart button {
    background-color: #b70f0f;
    color: #000000;
    /* font-weight: 600; */
    padding: 10px;
    border: 1px solid #b70f0f;
    border-radius: 50px;
    cursor: pointer;
    width: auto;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
  }
  #mobile-floating-cart span {
    color: #ffffff;
    font-weight: 600;
    margin-left: 10px;
    font-size: 0.8rem;
    width: 40%;
    /* border: white solid 1px; */
    width: 50%;
    height: max-content;
    overflow: hidden;
    /* margin-bottom: auto; */
  }
  #mobile-floating-cart button:disabled,
  #mobile-floating-cart button[disabled] {
    background-color: #f4f0e9;
    cursor: pointer;
    /* opacity: 0.6; */
  }
  #float-cart-button-container {
    position: relative;
  }
  #float-cart__overlay-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    display: block;
  }
}
