.Product-omniverse {
  /* border: rgb(124, 0, 128) solid 1px; */
  /* margin: auto; */
  width: 100vw;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .Product-omniverse {
    /* margin-top: 10px; */
  }
}
.Product__Wrapper {
  height: max-content;
  margin-top: 20px;
  display: flex;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* border: #000000 solid 1px; */
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  /* border: #000000 solid 1px; */
  padding: 0;
  margin: 0;
}
.product-gallery-info-container::-webkit-scrollbar {
  display: none;
}
.product-gallery-info-container {
  display: flex;
  /* gap: 5px; */
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 220px);
  /* height: 50vh; */
  /* border: blue solid 1px; */
  -webkit-tap-highlight-color: transparent;
  max-height: 650px;
}

/* product information */
.Product__InfoWrapper {
  width: 50%;
  flex: 0 0 50%;
  padding-left: 0px;
  padding-right: 15px;
  /* border: #0069f0 solid 1px; */
}

/* .product-gallery-container,
.product-gallery-container * {
  box-sizing: border-box;
} */

/* product gallery */
.product-gallery-container {
  /* height: 100%; */
  display: flex;
  /* box-shadow: 8px 0 12px rgba(0, 0, 0, 0.2); */
  border-radius: 25px;
  flex: 1 1 50%;
  /* width: 50%; */
  position: sticky;
  top: 0px;
  margin-left: auto;
  /* border: rgb(255, 0, 149) solid 1px; */
  margin-bottom: 10px;
  padding-left: 20px;
  min-width: 0; /* IMPORTANT in flex layouts */
  max-width: 100%;
  max-height: 650px;
}
#product-media-container-for-scroll {
  display: block;
  /* overflow-x: scroll; */
  -ms-overflow-style: none;
  /* border: rgb(18, 195, 65) solid 2px; */
  justify-content: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  height: auto;
  flex: 1 1 0;
  width: auto;
  min-width: 0;
  min-height: 400px;
  aspect-ratio: 1/1;
  /* margin-left: auto; */
  /* width: 20px; */
  max-width: 650px;
  max-height: 650px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}
.product-media-wrapper {
  border-radius: 25px;
  /* flex: 0 0 100%; */
  /* border: red solid 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  flex: 0 0 100%;
  scroll-snap-align: center;
}
.product-media-container {
  display: flex;
  -ms-overflow-style: none;
  justify-content: start;
  /* border: 3px solid #000000; */
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 0;
}
.product-media-wrapper .product-media {
  object-fit: cover;
  height: 100%;
  width: 100%;
  cursor:
    url(/assets/zoom-in.svg) 5 5,
    pointer;
  scroll-snap-align: center;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transition: transform 0.12s linear;
  display: block;
  transform: translate3d(0, 0, 0) scale(1);
  /* border: rgb(255, 0, 98) solid 3px; */
}
.sold-out-badge {
  position: absolute;
  top: 5%;
  left: 23%;
  background-color: #0069f0;
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 17px;
  z-index: 20;
  font-weight: 600;
  opacity: 0;
}
@media only screen and (min-width: 1600px) and (max-width: 2000px) {
  .sold-out-badge {
    left: 36%;
  }
}
@media only screen and (min-width: 2001px) and (max-width: 4000px) {
  .sold-out-badge {
    left: 50%;
  }
}

#product-media-container-for-scroll::-webkit-scrollbar {
  display: none;
}

#after-select-color {
  font-weight: 800;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

/* DOTS ///////////////////////////*/
.dots-container {
  position: absolute;
  z-index: 10;
  bottom: 2%;
  right: 43%;
  transform: translateX(50%);
  /* border: #ffffff solid 1px; */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 1500px) {
  .dots-container {
    right: 40%;
  }
}
#all-dots {
  /* border: #000000 solid 1px; */
}
.dots-container .dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  /* background-color: #ffffff; */
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: #d3d3d3 solid 2px;
  border: #d3d3d3 solid 2px;
}
.dots-container .arrow {
  margin: 10px;
  border-radius: 50%;
  border: 1px rgb(87, 87, 87) solid;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.dots-container .dot.active {
  background-color: #000000;
}

.product-media-container .product-media.zoomed {
  cursor:
    url("zoom-out.svg") 5 5,
    pointer;
  transform: translate3d(0, 0, 0) scale(1.6);
}

.side-product-media-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 0 0 13%;
  max-width: 13%;
  min-width: 0;
  border-radius: 20px;
  position: relative;
  z-index: 10;
  /* gap: 5px; */
  /* height: max-content; */
  /* border: #000000 solid 1px; */
  margin-left: auto;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  -webkit-overflow-scrolling: touch;
  user-select: none;
  padding: 5px 10px 0 0px;
  min-height: 0;
}
.side-product-media-container::-webkit-scrollbar {
  display: none;
}
.side-product-media-container .product-media {
  transition: 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  margin: 0 0 10px 0;
  border-radius: 20%;
  aspect-ratio: 1/1;
  flex: 0 0 auto;
  overflow: hidden;
}

.side-product-media-container .product-media img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.side-product-media-container .product-media img:hover {
  transform: scale(1.06);
}
.side-product-media-container .product-media.active {
  border: #0069f0 solid 3px;
}

/* variant */
.variants-container {
  display: flex;
  width: 100%;
  gap: 15px;
  flex-wrap: wrap;
  /* border: #000000 solid 1px; */
}


.variant-title {
  border-radius: 3px;
  padding: 10px 13px 10px 13px;
  cursor: pointer;
  background-color: #f4f0e9;
  border: 2px solid #f4f0e9;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.variant-title.active {
  border: 2px solid #0069f0;
}
.variant-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.variant-image {
  border-radius: 10px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 2px solid #f4f0e9;
  /* border: 2px solid #00ff40; */

  /* border: 2px solid #00ff40; */

  cursor: pointer;
}
.variant-image--sold-out {
  opacity: 0.5;
  cursor: not-allowed;
}
.variant-image.active {
  border: 2px solid #0069f0;
}


.variant-title-image {
  font-size: 8px;
  border: 2px solid #f4f0e9;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.color-size-variant-container {
  display: flex;
  /* gap: 5px; */
  justify-content: start;
  /* border: #000000 solid 1px; */
  width: fit-content;
  flex-wrap: wrap;
}
.variant-image-container-color {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* border: #ff0000 solid 1px; */
  aspect-ratio: 1/1;
  overflow: hidden;
  width: 80px;
  height: 80px;
}
.variant-image-container-color .title {
  font-size: 13px;
  text-align: center;
  /* border: #0026ff solid 1px; */
  width: 100%;
  /* border: #0026ff solid 1px; */
  width: 100%;
}
.variant-size {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.variant-size div {
  border-radius: 3px;
  padding: 10px 13px 10px 13px;
  cursor: pointer;
  background-color: #f4f0e9;
  border: 2px solid #f4f0e9;
  margin-bottom: 10px;
  position: relative;
  width: max-content;
}
.title-size.not-available {
  color: #aaa;
  cursor: auto;
  background-color: #f9f7f4;
}
.title-size.not-available::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background: #aaa;
  transform: rotate(-45deg);
  clip-path: inset(15% round 8px);
  z-index: 2;
  top: 50%;
  left: 7%;
  /* transform: translateY(50%); */
}
/* 1 variant option only */

.variant-size .variant-image {
  height: fit-content;
  position: relative;
  width: max-content;
}
.title-size.not-available {
  color: #aaa;
  cursor: auto;
  background-color: #f9f7f4;
}
.title-size.not-available::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background: #aaa;
  transform: rotate(-45deg);
  clip-path: inset(15% round 8px);
  z-index: 2;
  top: 50%;
  left: 7%;
  /* transform: translateY(50%); */
}
/* 1 variant option only */

.variant-size .variant-image {
  height: fit-content;
}
.variant-size div.active {
  border: 2px solid #0069f0;
}
#after-select-size {
  width: 100%;
  font-weight: 900;
  font-weight: 800;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  /* border: #000000 solid 1px; */
}

#option-value-color,
#option-value-size {
  font-weight: 500;
  margin-left: 5px;
  margin-right: auto;
  /* border: #000000 solid 1px; */
}

#product-title {
  font-size: 1.7rem;
}

.Product__Info {
  /* border: #0069f0 solid 1px; */
  height: max-content;
  display: block;
  /* margin: auto; */
}
#add-to-cart-button {
  background-color: #b70f0f;
  color: #ffffff;
  /* font-weight: 600; */
  padding: 15px;
  border: 1px solid #b70f0f;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  font-size: 1.3rem;
}
#add-to-cart-button:disabled,
#add-to-cart-button[disabled] {
  background-color: gray;
  cursor: pointer;
  opacity: 0.6;
}

/* Mobile Float cart */
#mobile-floating-cart {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Product__Wrapper {
    flex-direction: column;
    height: max-content;
    margin-top: 10px;
  }
  .Product__Wrapper {
    flex-direction: column;
    height: max-content;
    margin-top: 10px;
  }
  .Product__InfoWrapper {
    width: 100%;
    flex: 0 0 100%;
    padding-left: 5px;
    padding-right: 5px;
    /* border: 1px solid red; */
  }
  .product-gallery-info-container {
    flex-direction: column;
    height: max-content;
    /* max-height: none; */
    height: 100%;
    /* border: #000000 solid 1px; */
  }
  #product-media-container-for-scroll {
    width: 100%;
    margin-left: 0;
    /* aspect-ratio: 1 / 1; */
    position: relative;
    overflow: hidden;
    height: auto;
    /* border: #000000 solid 1px; */
  }
  .product-gallery-container {
    width: 100%;
    flex: 0 0 100%;
    /* margin-top: 20px; */
    /* margin-top: 20px; */
    margin-bottom: 20px;
    flex-direction: column-reverse;
    height: 100%;
    /* border: #0069f0 solid 3px; */
    box-shadow: none;
    /* padding-left: 10px; */
    padding: 0px;
    align-items: stretch;
    max-height: none;
    position: relative;
  }
  .product-media-container .product-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
    /* border: #ff0040 solid 1px; */
  }
  .sold-out-badge {
    top: 5%;
    left: 5%;
  }
  .side-product-media-container {
    flex-direction: row;
    overflow-x: scroll;
    /* flex: 0 0 100%; */
    height: max-content;
    margin-right: 10px;
    margin-right: 10px;
    width: 100%;
    max-width: 100%;
    gap: 0;
    /* border: #0069f0 solid 1px; */
    padding: 0 10px;
    border-radius: 0px;
    margin-top: 10px;
  }
  .side-product-media-container .product-media {
    width: 50px;
    height: auto;
    max-height: 50px;
    margin-right: 5px;
    /* flex: 0 0 100%; */
  }
  .product-media-wrapper {
    border-radius: 0px;
    aspect-ratio: 1/1;
  }
  .dots-container {
    bottom: 10%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
  }
  .dots-container .arrow {
    margin: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .arrow svg {
    width: 10px;
    height: 10px;
  }
  .variant-size div {
    border-radius: 5px;
    padding: 12px 17px 12px 17px;
    margin-bottom: 0px;
    font-size: 0.9rem;
  }
  #add-to-cart-button {
    padding: 5px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
  }
  #mobile-floating-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 13%;
    left: 3%;
    right: 3%;
    /* border: #b70f0f solid 1px; */
    height: 20px;
    /* width: 90%; */
    z-index: 1000;
    padding: 20px 15px;
    background-color: rgba(128, 128, 128, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 13px;
    height: 70px;
    box-shadow: 0px -4px 10px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(300%);
    transition: 0.4s ease;
  }
  #mobile-floating-cart img {
    /* border: #000000 solid 1px; */
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
  }
  #mobile-floating-cart button {
    background-color: #b70f0f;
    color: #ffffff;
    /* font-weight: 600; */
    padding: 10px;
    border: 1px solid #b70f0f;
    border-radius: 50px;
    cursor: pointer;
    width: auto;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  #mobile-floating-cart span {
    color: #ffffff;
    font-weight: 600;
    margin-left: 10px;
    font-size: 0.8rem;
    width: 40%;
  }
  #mobile-floating-cart button:disabled,
  #mobile-floating-cart button[disabled] {
    background-color: gray;
    cursor: pointer;
    /* opacity: 0.6; */
  }
}
